<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best 2000's Movie</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div class="container">
    <h2 id="title">Vote for the Best 2000's Movie</h2>
    <div class="mainContainer">
      <% movies.forEach(movies => {%>
        <div class="photoContainer">
          <p class="photoTitle"><%=movies.displayName%></p>
          <img src="./css/img/<%=movies.url%>" alt="<%=movies.displayName%> movie poster">
          <div class="voteContainer">
            <form method="POST" action="/<%=movies._id%>?_method=PUT">
              <button class="btn btn-primary voteButton" id="<%=movies._id%>" value="<%=movies.name%>">Vote</button>
            </form>
            <div class="resultsContainer">
              <p><%=movies.votes%> out of <%=totalVotes%></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  
</body>
</html>